$primary-color: #272727;
$accent-color: #f00;
$text-color: #fff;

// maps
$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

$mediaQueries: (
  'mobile': 645px,
  'tablet': 800px,
  'destop': 1990px,
);
